<link rel="stylesheet" type="text/css" href="stylesheets/configurations.css"/>
<div class="header">
    <img src="images/house.png" alt="" class="image backIcon" rows="1" ng-click="" ui-sref="home"/>
</div>

<div class="middlePart">
    <div class="backgroundTiles">
        <div class="tile" ng-click="darkSelected()">
            <img src="images/giftly2reverse.png">
        </div>
        <div class="tile" ng-click="lightSelected()">
            <img src="images/giftly2.png">
        </div>
        <div class="description">
            <img src="images/BackgroundWord.png">
        </div>
    </div>
    <div class="phases">
        <div id="autoMove" class="tile" ng-click="autoMoveSelected()" style="bottom: 15px;">
            <img src="images/Automate.png">
        </div>
        <div id="manualMove" class="tile" ng-click="manualMoveSelected()" style="bottom: 15px;">
            <img src="images/Manual.png">
        </div>
        <div class="description">
            <img src="images/TransitionConfig.png">
        </div>
    </div>
</div>

